<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <nav class="header__nav">
        <ul class="header__nav--ul">
          <li class="header__nav--li"><a href="/">Asosiy</a></li>
          <li class="header__nav--li"><a href="/books/">Kitoblar</a></li>
          <li class="header__nav--li">
            <a href="/books/add">Kitob qo'shish</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- /Header -->

    <!-- Main -->
    <main>
      <h1 class="page--title">Asosiy</h1>
    </main>
    <!-- /Main -->
  </body>
</html>
